.mapLayout{
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.main {
  height: 100%;
  position: relative;
  box-sizing: border-box;
  padding-top: var(--header-height);
}