.navLink {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: rgb(var(--color-dark));
  opacity: var(--opacity-1);


  .text {
    font-size: var(--header-font-size);
    letter-spacing: -0.15px;
  }

  .rectangleWrapper{
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .rectangle {
    background: rgb(var(--color-primary));
    height: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: 0.2s;
    transform: translateX(-100%);
  }

  &_selected {
    opacity: 1;

    .rectangle{
      transform: translateX(0);
    }
  }
}