.layout {
  margin: 0 auto;
  max-width: 384px;
  height: 100%;
  display: flex;
  flex-direction: column;

  & > div {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
  }
}

.label{
  font-size: 28px;
  line-height: 32px;
  color: rgba(var(--color-dark), var(--opacity-0));
}

.code{
  font-size: 32px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: rgba(var(--color-dark), var(--opacity-0));
}

.text{
  font-size: 14px;
  line-height: 20px;
  color: rgba(var(--color-dark), var(--opacity-2));
}