.filtersContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.filters {
  margin-top: 40px;
  width: 282px;
  border-radius: 16px;
  padding: 24px;
  border: var(--default-border);
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.resetButton {
  padding: 12px 0;
}